:root {
    --font:  'Poppins', sans-serif;
    --blue: #002952;
    --light-blue:  #336B91;
    --green: #ECF5F4;
    --brownish-yellow: #C38C1F;
    --blue-highlight: #10355a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
    text-decoration: none;
    color: var(--green);
}

body {
    background-color: var(--blue);
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    padding: 30px 0;
    height: 50px;
    top: 0px;
    z-index: 100;
    background: linear-gradient(180deg, rgb(4, 29, 52) 18%, rgb(2, 33, 65) 66%, rgb(1, 35, 72) 88%, rgb(1, 39, 77) 100%);
}

/* Responseble for aliging the content of the site */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 12px 30px;
    flex-wrap: wrap;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

header div, 
.container div {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li,
.social li,
.logo-techs li {
    list-style: none;
    padding: 0px 20px;
}

.menu a {
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 22.4px */
    letter-spacing: 1px;
    text-transform: uppercase;    
}

nav a:hover {
    color: var(--brownish-yellow);
}

header button {
    display: none;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 31.55px 14.59px 32px;
    align-self: stretch;
    border-radius: 40px;
    border: 2px solid var(--light-blue);
    background: var(--light-blue);
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px*/
    text-transform: uppercase;
    cursor: pointer;
}

#home a:hover,
a:hover .fa-arrow-right {
    color: var(--brownish-yellow);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    gap: 100px;
}

#home img{
    height: 636px;
    width: 645.19px;
    border-radius: 30px;
}

#home .container {
    gap: 12px;
}

.network {
    gap: 24px;
}

.fa-arrow-right {
    margin-left: 10px;
}

.container .me {
    flex-direction: column;
    align-items: flex-start;
}

.me {
    max-width: 590px;
    margin-right: 12px;
}

.span-highlight {
    display: block;
    background: var(--light-blue);
    margin-bottom: 15px;
    padding: 0 12px;
    font-size: 1rem; /* 16px*/    
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.title,
h1 {
    font-size: 2.7rem; /* 70px */
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 84px*/
    text-transform: uppercase;
    margin-bottom: 8px;
}

.text-brownish-yellow {
    color: var(--brownish-yellow);
}

h1 {
    margin-bottom: 30px;
}

.me p {
    font-size: 1.25rem; /* 20px*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px*/
    letter-spacing: 0.2px;  
    margin-bottom: 16px;  
}


.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social li {
    padding: 10px 0;
}

.social a{
    padding: 12px 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 50%;
    border: 2px solid var(--green);   
}

/* height: 16px; */
.social i{
    color: var(--green);
}

.icon-linkedin a {
    background-color: #2955bb;
}

.icon-github a {
    background-color: #000;
}

.icon-instagram a {
    background: radial-gradient(circle at 30% 107%, #ffd600 0%, #ff7a00 5%, #ff0069 45%, #d300c5 60%, #7838fa 90%);
}

/* O overflow hidden foi usado para não quebrar o layout */
.technologys {
    overflow-x: hidden;
    padding: 24px 0px;
    align-items: center;
}

.background-highlight {
    background-color: var(--blue-highlight);
}

.logo-techs {
    display: flex;
    justify-content: space-between;
}

.logo-techs img {
    height: 115PX;
    width: 135px;
}

#about-me .container {
    padding: 48px 110px 0px 110px;
}

#about-me img {
    width: 526px;
    height: 644.55px;
    max-width: 526px;
    border-radius: 30px;
}

.my-information {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 550px;
    padding: 48px 48px 0px 48px;
}

.title-size-m,
h2 {
    display: block;
    font-size: 2.5rem; /* 40px */
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    text-transform: uppercase;
}

.my-information h2 {
    margin-bottom: 26px;
}

#projects{
    padding: 100px 0px 116px 0px;
    overflow-x: hidden;
}

#projects .container {
    flex-direction: column;
    align-items: baseline;
}

#projects h2 {
    margin-bottom: 45px;
}

.information-projects {
    column-gap: 20px;
}

.information-projects div {
    flex-direction: column;
    align-items: flex-start;
    width: 392px;
    padding: 14px;
    align-self: stretch;
    border-radius: 10px;
    background-color: var(--green);
    position: relative;
}

.information-projects img {
    width: 364px;
    height: 273px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.information-projects h3 {
    color: #111111;
    font-size: 1.25rem; /* 20px*/
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-bottom: 7px;
}

.information-projects span {
    color: #404040;
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.information-projects a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 5px;
    bottom: 14px;
    right: 14px;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    background-color: var(--light-blue);
    border: 2px solid #111111;
}

.information-projects i {
    margin: 0px;
}

#service .container{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

#service h2 {
    margin-bottom: 45px;
}

.available-services {
    overflow-x: hidden;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.available-services > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 10px;
    width: 306px;
    height: 396px;
    gap: 10px;
}

.dev-web,
.self-handling,
.m-update,
.int-databases,
.api {
    background-size: 100% 100%;
    padding: 20px;
}

.dev-web::after,
.self-handling::after,
.m-update::after,
.int-databases::after,
.api::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(4, 12, 22, 0.00) 0%, #040C16 100%);
    z-index: 1;
    border-radius: 10px;
}

.dev-web{
    background-image: url("imgs/dev-web.jpg");
}

.self-handling {
    background-image: url("imgs/automação.jpg");
}

.m-update {
    background-image: url("imgs/upDate.jpg");
}

.int-databases {
    background-image: url("imgs/baseDate.jpg");
}

.api {
    background-image: url("imgs/api.jpg");
}

.available-services h3 {
    width: 100%;
    margin-bottom: 7px;
    font-size: 1.25rem; /* 20px */
    font-style: normal;
    font-weight: bold;
    line-height: 120%; /* 24px */
}

.available-services p {
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
}

.available-services h3,
.available-services p {
    z-index: 2;
}

#contact {
    position: relative;
    margin: 100px 0px;
    padding: 48px 0px;
    flex-wrap: wrap;
} 

#contact .container {
    flex-direction: column;
}

#contact .subject{
    display: block;
    width: 100%;
    background-color: #052646;
    flex-direction: column;
    padding: 48px 48px 47.4px 447px;
}

.subject h2{
    font-size: 2.5rem; /* 40px */
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    margin-bottom: 8px;
    max-width: 798.66px;
}

.subject p {
    font-size: 1.0625rem; /* 17px */
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 27px */
    max-width: 550px;
}

#contact .contacts{
    margin: 20px 0px 40px 100px;
    flex-direction: column;
    align-items: baseline;
}

.text-size-s,
label {
    font-size: 1.0625rem; /* 12px */
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text-size-b {
    font-size: 1.375rem; /* 22px */
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
}

#contact .form {
    width: 100%;
    background-color: var(--blue-highlight);
    padding: 48px 48px 48px 447px;
}

#contact .subject,
#contact .form {
    max-width: 1294px;
    width: 100%;
}

#form-contact {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    align-items: center;
    flex-direction: column;
}

#contact .dis-block {
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
}

#form [type="text"],
#form [type="email"]  {
    color: var(--green);
    font-size: 1rem; /* 16px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input,
textarea {
    background-color: #0a3c6e95;
    border: 1px solid var(--light-blue);
    border-radius: 6px;
    padding: 12px 13px;
}

label {
    letter-spacing: 1px;
}

#full-name, 
#email {
    width: 375.39px;
}

#subject, 
#menssage,
form button,
textarea { 
    width: 767px;
}

#form button {
    width: 100%;
}

textarea {
    resize: none;
    height: 117px;
}

#full-name:focus,
#email:focus,
#subject:focus,
#message:focus,
textarea:focus {
    outline: var(--blue);
    border: 2px solid var(--green);
}

.highlight-input {
    display: flex;
}

::-webkit-input-placeholder {
    color: #c8cbcb;
}

:focus::-webkit-input-placeholder {
    opacity: 0.5;
}

#contact .my-contact {
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    top: 78px;
    margin-right: 1030px;
    
}

.my-contact img {
    width: 351.33px;
    height: 351.33px;
    max-width: 351.33px;
    margin-bottom: 20px;
    border-radius: 30px;
}

footer .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 12px;
    top: 0px;
}

footer  {
    border-top: 1px solid var(--light-blue);
}

footer a {
    text-decoration: underline;
}

.text-small {
    font-size: 9px;
}

/*viewing divece movel*/
@media (max-width: 600px) {
    .information-projects div {
        width: 90vw;
    } 

    .available-services div {
        width: 100%;
    }

}

@media (max-width: 960px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    
    /* Sidebar */
    header button {
        display: block;
    }

    nav {
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100%;
        background: radial-gradient( rgb(4, 29, 52) 18%, rgb(2, 33, 65) 66%, rgb(1, 35, 72) 88%, rgb(1, 39, 77) 100%);
        transition: .5s;
    }

    .active {
        left: 0px;
    }

    .menu{
        display: inline;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .menu li{
        padding: 10px 15px;
        border-bottom: 1px solid #10355a;
    }
    
    .menu a {
        display: block;
        width: 100%;
    }
    
    .sidebar-btn {
        position: absolute;
        right: 40px;
        cursor: pointer;
        border: none;
    }

    .sidebar-btn span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--green);
        position: absolute;
        transition: .3s;
    }

    .sidebar-btn span:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        padding: 0.1px;
        height: 3px;
        background-color: var(--green);
        transition: .3s;
    }
    
    .sidebar-btn span:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        padding: 0.1px;
        height: 3px;
        background-color: var(--green);
        transition: .3s;
    }

    .sidebar-btn.toggle span {
        background: transparent;
    }

    .sidebar-btn.toggle span::before {
        top: 0;
        transform: rotate(45deg);
    }
    .sidebar-btn.toggle span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    header .button {
        display: none;
    }

    main {
        margin-top: 30px;
    }

    #home span,
    h1,
    .my-information span, h2 {
        font-size: 1.6rem;
    }

    #home p,
    .my-information p {
        font-size: 1rem;
    }

    #home img,
    #about-me img {
        max-height: 450px;
        max-width: 90vw;
    }

    #home img,
    #about-me .my-information {
        margin-top: 20px;
    }

    .network {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 32px;
    }
    
    .network .social {
        align-items: flex-start;
        width: 100%;
    }
    
    #about-me .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
    }
    
    .my-information {
        padding: 0px;
    }
    
    #projects .container {
        padding: 0 15px;
    }

    .information-projects img {
        width: 100%;
    }

    .available-services {
        flex-wrap: wrap;
        justify-content: center;
    }

    #contact .container {
        display: block;
        flex-direction: column;
        padding: 0px;
    }

    #contact .subject, 
    #contact .form{
        padding: 15px;
    }
    
    #contact .form {
        display: flex;
        justify-content: center;
    }

    #form-contact {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    #contact .dis-block {
        margin: 0px;
    }

    #form-contact .highlight-input {
        display: block;
        width: 89vw;
    }
    
    #full-name,
    #email {
        width: 100%;
    }

    #form-contact label {
        width: 100%;
        margin-bottom: 8px;
    }

    #full-name {
        margin-bottom: 20px;
    }

    .highlight-input,
    #subject,
    #massage,
    #form-contact .button {
        max-width: 90vw;
    }

    .my-contact img  {
        display: none;
    }
    
    #contact .my-contact {
        position: static;
        padding: 20px 20px 40px 20px;
        background-color: var(--blue-highlight);
        width: 100%;
        height: auto;
    }  

    #contact .contacts {
        margin-left: 0px;
    }
}